* {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  /* position: absolute; */
  display: grid; 
}

body {
  background: aqua;
}

/*.page-header {
}

/* .main-nav {
  display: flex;
  justify-content: center;
  background-color: white;
  width: fit-content;
  justify-content: center;
  text-align: center;
  /* align-items: center; 
} */

.main-nav ul {
  text-align: center;
}

.main-nav li {
  display: inline-block;
}

.page-header img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}