* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
}

li {
  display: inline-block;
}