* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #F2F2F2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-right: auto;
/*   height: 60px;
  width: 60px; */
}

ul {
  list-style: none;
  justify-content: space-around;
}

li a {
  /* display: inline-block;*/
  
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

